

		<!-- Bootstrap Core JavaScript -->
		<script src="<?php echo JS_URL;?>bootstrap.min.js"></script>

		<!-- Metis Menu Plugin JavaScript -->
		<script src="<?php echo JS_URL;?>plugins/metisMenu/metisMenu.min.js"></script>

		<!-- Morris Charts JavaScript -->
		<!--
		<script src="<?php echo JS_URL;?>plugins/morris/raphael.min.js"></script>
		<script src="<?php echo JS_URL;?>plugins/morris/morris.min.js"></script>
		<script src="<?php echo JS_URL;?>plugins/morris/morris-data.js"></script>
		-->

		<!-- Custom Theme JavaScript -->
		<script src="<?php echo JS_URL;?>sb-admin-2.js"></script>
		<script src="<?php echo JS_URL;?>underscore-min.js"></script>

