<!DOCTYPE html>
<html>
<head>
<?php include T(ROUTE_M,'public','header');?>
<script type="text/javascript" src="<?php echo JS_URL;?>My97DatePicker/WdatePicker.js"></script>
</head>
<body>
	<div id="wrapper">
		<?php include T(ROUTE_M,'public','nav');?>
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">文章管理</h1>
				</div>
				<!-- /.col-lg-12 -->
			</div>
			<div class="row">
				<div class="col-lg-12">
					<!-- /.panel -->
					<div class="panel panel-default">
						<div class="panel-heading">
							<a href="<?php echo pfUrl('', 'article', 'detail')?>">添加文章</a>
						</div>
						<div class="panel-heading">
							<form class="form-inline" name="searchform" action="<?php echo pfUrl('','article','index');?>" method="GET">
								<input type="hidden" value="article" name="c"> <input type="hidden" value="index" name="a"> <input type="hidden" name="s" value="is_post" />
								<div class="box row">
									<div class="col-md-4">
										标题：<input name="title" class="form-control" value="<?php echo $filter['title']; ?>" />
									</div>
									<div class="col-md-4">
										简介：<input name="intro" class="form-control" value="<?php echo $filter['intro']; ?>" />
									</div>
									<div class="col-md-4">
										状态： <select name="status" class="form-control">
											<option value="" <?php if($filter['status']=='') echo 'selected="selected"';?>>所有</option>
											<option value="0" <?php if($filter['status']=='0') echo 'selected="selected"';?>>未审核</option>
											<option value="1" <?php if($filter['status']=='1') echo 'selected="selected"';?>>通过</option>
											<option value="2" <?php if($filter['status']=='2') echo 'selected="selected"';?>>不通过</option>
										</select>
									</div>
								</div>
								<div class="box row">
									<div class="col-md-4">
										排序： <select name="order" class="form-control">
											<option value="" <?php if($filter['order']=='') echo 'selected="selected"';?>>默认</option>
											<option value="view" <?php if($filter['order']=='view') echo 'selected="selected"';?>>查看量</option>
											<option value="reply_count" <?php if($filter['order']=='reply_count') echo 'selected="selected"';?>>评论量</option>
										</select>
									</div>
									<div class="col-md-4">
										<input type="submit" name="search" class="btn btn-primary btn-sm" onclick="return check_form();" value="搜索" />
										<a class="btn btn-default btn-sm" href="<?php echo pfUrl('','article','index');?>">重置</a>
									</div>
								</div>
							</form>
						</div>
						<!-- /.panel-heading -->
						<div class="panel-body">
							<div class="row">
								<div class="col-lg-12">
									<div class="table-responsive">
										<table class="table table-bordered table-hover table-striped">
											<thead>
												<tr>
													<th>编号</th>
													<th>标题</th>
													<th>查看数</th>
													<th>评论数</th>
													<th>创建时间</th>
													<th>更新时间</th>
													<th>状态</th>
													<th>排序</th>
													<th>操作</th>
												</tr>
											</thead>
											<tbody>
												<?php foreach($lists as $item) {?>
												<tr>
													<td>
														<?php echo $item['article_id']?>
													</td>
													<td>
														<?php echo $item['title']?>
													</td>
													<td>
														<?php echo $item['view']?>
													</td>
													<td>
														<?php echo $item['reply_count']?>
													</td>
													<td>
														<?php echo date('Y-m-d H:i:s', $item['create_time'])?>
													</td>
													<td>
														<?php echo date('Y-m-d H:i:s', $item['update_time'])?>
													</td>
													<td>
														<?php if($item['status']==0){?>
														未审核
														<?} elseif($item['status']==1){?>
														审核通过
														<?} elseif($item['status']==2){?>
														审核不通过
														<?}?>
													</td>
													<td>
														<?php echo $item['sort']?>
													</td>
													<td>
														<div class="pull-left">
															<div class="btn-group">
																<button data-toggle="dropdown" class="btn btn-primary btn-sm dropdown-toggle" type="button">
																	操作 <span class="caret"></span>
																</button>
																<ul role="menu" class="dropdown-menu pull-right">
																	<li>
																		<a href="<?php echo pfUrl(" ","article","detail",array("article_id"=>$item['article_id']))?>">查看</a>
																	</li>
																	<?php if($item['status']==0) {?>
	                                                                <li class="divider"></li>
	                                                                <li>
	                                                                    <a href="<?php echo pfUrl("","article","audit",array("article_id"=>$item['article_id'], "is_audit"=>1))?>">通过</a>
	                                                                </li>
	                                                                <li class="divider"></li>
	                                                                <li>
	                                                                    <a href="<?php echo pfUrl("","article","audit",array("article_id"=>$item['article_id'], "is_audit"=>2))?>" >不通过</a>
	                                                                </li>
																	<?php } ?>
	                                                                 <li class="divider"></li>
	                                                                <li>
	                                                                    <a href="javascript: if(window.confirm('确定要删除吗？')) location.href='<?php echo pfUrl("","article","remove",array("article_id"=>$item['article_id']))?>'">删除</a>
	                                                                </li>
																</ul>
															</div>
														</div>
													</td>
												</tr>
												<?}?>
											</tbody>
										</table>
										<?php echo $pages;?>
									</div>
									<!-- /.table-responsive -->
								</div>
								<!-- /.col-lg-4 (nested) -->
								<div class="col-lg-8">
									<div id="morris-bar-chart"></div>
								</div>
								<!-- /.col-lg-8 (nested) -->
							</div>
							<!-- /.row -->
						</div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->

					<!-- /.panel -->
				</div>
				<!-- /.col-lg-8 -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /#page-wrapper -->
	</div>
	<?php include T(ROUTE_M,'public','footer');?>
</body>
</html>
