<!DOCTYPE html>
<html>
	<head>
		<?php include T(ROUTE_M,'public','header');?>
	</head>
	<body>
    <div id="wrapper">
		<?php include T(ROUTE_M,'public','nav');?>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">欢迎登陆</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            
            <!-- /.row -->
            
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
    </div>
	<?php include T(ROUTE_M,'public','footer');?>
	</body>
</html>
